body{
    font-family: 'Varela Round', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #6195ff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif,monospace;
}
button {
    font-family: inherit;
}
.contaner{
    width: 80%;
    margin: auto;
}
.header{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.header .logo img{
    width: 20%;
    margin-top: 15px;
}
.logo{
    float: left;
    width: 40%;
}
/* .header-content{
    overflow: hidden;
} */
.header .nav{
    float: left;
    width: 60%;
    text-align: right;
}
.nav li{
    list-style: none;
    display: inline-block;
}
.nav > li > a{
    color: white;
    display: block;
    padding: 30px 15px;
    font-size: 15px;
}
.nav  > li > a:after,.nav > li > a.active:after{
    content: "";
    margin-top: 2px;
    background: #6195ff;
    height: 3px;
    display: block;
    transition: width 0.5s;
}
.nav > li > a:after{
    width: 0;
}
.nav > li > a.active:after{
    width: 100%;
}
.nav > li > a:hover:after{
    width: 100%;
}
.clear{
    clear: both;
}
.home{
    height: 100vh;
    background-image: url(../images2/background/background1.webp);
    background-size: cover;
    position: relative;
}
.home-title{
    color: white;
    text-transform: uppercase;
    font-size: 3.5rem;
}
.home-desc{
    color: white;
    margin: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
}
.overlay{
    background-color:rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
}
.home-content{
    width: 65%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home .btn-start {
    margin-right: 10px;
    background: white;
}
.home .btn-more{
    background: #6195ff;
}
.home .btn {
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    transition: opacity 0.5s;
}
.btn:hover{
    opacity: 0.7;
}
.dropdown{
    position: relative;
}
.dropdown-menu a {
    display: block;
    padding: 10px;
    color: white;
}
.dropdown-menu {
    position: absolute;
    background-color: #6195ff;
    width: 150px;
    text-align: center;
    left: -60%;
    top: 80%;
    opacity: 0;
    visibility: hidden;
    transition: visibilty 0.5s,opacity 0.5s;
    border-radius: 5px;
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}
.pd-y{
    padding: 120px 0;
}
.mg{
    margin: 0 5%;
}
.port-mg{
    margin: 0 2%;
}
.header-section{
    text-align: center;
    margin-bottom: 70px;
}
.header-section h2{
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 35px;
}
.header-section span{
    background-color: #6195ff;
    display: block;
    width: 60px;
    height: 5px;
    margin: auto;
}
.icon{
    color:#6195ff;
}
.about-item .icon{
    margin-bottom: 10px;
}
.about-item h2{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}
.about-item{
    width: 30%;
    float: left;
    border: 1px solid #cdcaca;
    text-align: center;
    padding: 50px 20px;
}
.about-item p{
    line-height: 1.6;
    margin-bottom: 10px;
    color:#cbc7c7;
}
.about-item:hover:after{
    width: 100%;
}
.about-item:hover .about-title{
    color:white;
}
.about-content{
    overflow: hidden;
}
.ltr-effect{
    position: relative;
}
.ltr-effect:after{
    position: absolute;
    content: "";
    width:0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    z-index: -1;
    transition: width 0.5s;
}
.port-content{
    overflow: hidden;
}
.port{
    background-color: #f8f8f8;
}
.port-item{
    width: 32%;
    position: relative;
    float: left;
    margin-bottom: 19px;
}
.port-item:hover .layer{
    opacity: 1;
    visibility: visible;
}
.port-item img{
    width: 100%;
    padding: 20px;
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
}
.layer-info{
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    width: 80%;
    transform: translate(-50%,-50%);
}
.category {
    color: #6195ff;
    margin-bottom: 5px;
    text-transform: uppercase;
    display: block;
    transition: top 0.5s;
    position: relative;
    top: 10px;
    transition: top 0.5s;
    transition-delay: 0.2s;
}
.layer-title {
    color: white;
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
    transition: top 0.5s;
    top: 10px;
    transition: top 0.5s;
    transition-delay: 0.4s;
}
.port-item a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    position: relative;
    top: 10px;
    transition: top 0.5s;
    transition-delay: 0.8s;
}
.port-item a i{
    line-height: 40px;
    color: #fff;
}
.port-item:hover .category,
.port-item:hover .layer-title,
.port-item:hover a
{
    top: 0;
}
.offer-item{
    width: 30%;
    float: left;
    border: 1px solid #cdcaca;
    padding: 30px 15px 30px 70px;
    position: relative;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.offer-content{
    overflow: hidden;
}
.offer-item .icon{
    position: absolute;
    left: 17px;
}
.offer-item h2{
    margin-bottom: 15px;
    transition: color 0.5s;
}
.offer-item p{
    color: #999;
    line-height: 1.4;
    margin-bottom: 15px;
}
.offer-item:hover:after{
    width: 100%;
}
.offer-item:hover h2{
    color: white;
}
.offer-mg{
    margin: 0 2%;
}
.services{
    background-color: #f8f8f8;
}
.services-content{
    overflow: hidden;
}
.services-item{
    width: 50%;
    float: left;
}
.services-item .header-section{
    margin-bottom: 40px;
}
.services-item .header-section h2{
    text-align: left;
}
.services-item .header-section span{
    margin: 0;
}
.services-item p{
    color: #999;
    line-height: 1.4;
    margin-bottom: 20px;
}
.services-list li{
    list-style: none;
    color: #999;
    margin-right: 20px;
    margin-bottom: 10px;
}
.services-list li i{
    border: 1px solid #6195ff;
    padding: 7px;
    border-radius: 50%;
    color: #6195ff;
    margin-right: 5px;
}
.services-img img{
    width: 100%;
}
.services-bollets{
    text-align: center;
}
.services-bollets li{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #cbc7c7;
    border-radius: 50%;
    margin-left: 7px;
}
li.active-bollet{
    background-color: #6195ff;
}
.services-bollets li:hover{
    background-color: #6195ff;
}